<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Turn on the annotation scanning -->
    <context:annotation-config />

    <!-- Accelerated realm storage -->
    <bean class="org.rpl.infinimapper.data.management.RealmDataProvider" name="RealmProvider" scope="singleton"/>

    <bean class="org.rpl.infinimapper.data.management.RealmCache" name="RealmCache" scope="singleton">
        <constructor-arg name="provider" ref="RealmProvider"/>
        <constructor-arg name="startBackgroundFlush" value="true"/>
    </bean>

    <bean class="java.util.HashMap" name="TemplateMap">
         <constructor-arg>
             <map>
                     <entry key="melonJs-alex" value="WEB-INF/templates/melonJs-alex/tinyTest.tmx" />
             </map>
         </constructor-arg>
    </bean>

    <!-- Accelerated chunk storage and retrieval -->
    <bean class="org.rpl.infinimapper.data.management.ChunkDataProvider" name="ChunkProvider" scope="singleton"/>

    <bean class="org.rpl.infinimapper.data.management.ChunkCache" name="ChunkCache" scope="singleton">
        <constructor-arg name="cache" ref="RealmCache"/>
        <constructor-arg name="provider" ref="ChunkProvider"/>
        <constructor-arg name="startBackgroundFlush" value="true"/>
    </bean>

    <!-- Else the appropriate pieces to the JSP files -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="exposeContextBeansAsAttributes" value="true"/>
    </bean>

    <bean class="org.rpl.infinimapper.data.management.LayerDataProvider" name="LayerProvider" scope="singleton" />
    <bean class="org.rpl.infinimapper.data.management.ObjectInstanceProvider" name="ObjectProvider" scope="singleton" />
    <bean class="org.rpl.infinimapper.data.management.ObjectProvider" name="ObjectDefinitionProvider" scope="singleton" />
    <bean class="org.rpl.infinimapper.data.management.TilesetAssignmentProvider" name="TilesetAssignmentProvider" scope="singleton" />
    <bean class="org.rpl.infinimapper.data.management.TilesetProvider" name="TilesetProvider" scope="singleton" />

    <!-- WebSocket eventing system. We need a collector and an update pusher. -->
    <bean class="org.rpl.infinimapper.eventing.ChunkUpdateCollector" name="UpdateHandler" scope="singleton" />
    <bean class="org.rpl.infinimapper.eventing.PeriodicChunkUpdatePusher" name="ActiveUpdatePusher" scope="singleton">
        <constructor-arg name="updateCollector" ref="UpdateHandler" />
        <constructor-arg name="updateInterval" value="100" />
    </bean>

<!--    <bean name="BuiltGameDeployPath" scope="singleton" class="java.io.File">
        <constructor-arg value="C:\Program Files (x86)\Apache Group\Apache2\htdocs\maps" type="java.lang.String"/>
    </bean>
    -->
    <bean name="BuiltGameHostPath" scope="singleton" class="java.lang.String">
        <constructor-arg value="http://localhost/maps/" />
    </bean>

    <bean name="MapExporter" scope="singleton" class="org.rpl.infinimapper.data.export.MapExport" />

    <!-- For fun, unleash an agent that writes tiles in a randomized path -->
    <!--<bean class="org.rpl.infinimapper.data.Realm" name="ScratchRealm">-->
        <!--<property name="id" value="34"/>-->
    <!--</bean>-->

         <!--
    <bean class="org.rpl.infinimapper.agents.MapPathBuilder">
        <constructor-arg name="chunkCache" ref="ChunkCache"/>
        <constructor-arg name="tileToUse" value="12"/>
        <constructor-arg name="realm" ref="ScratchRealm"/>
    </bean>
    <bean class="org.rpl.infinimapper.agents.MapPathBuilder">
        <constructor-arg name="chunkCache" ref="ChunkCache"/>
        <constructor-arg name="tileToUse" value="30"/>
        <constructor-arg name="realm" ref="ScratchRealm"/>
    </bean>
    <bean class="org.rpl.infinimapper.agents.MapPathBuilder">
        <constructor-arg name="chunkCache" ref="ChunkCache"/>
        <constructor-arg name="tileToUse" value="31"/>
        <constructor-arg name="realm" ref="ScratchRealm"/>
    </bean>
    <bean class="org.rpl.infinimapper.agents.MapPathBuilder">
        <constructor-arg name="chunkCache" ref="ChunkCache"/>
        <constructor-arg name="tileToUse" value="106"/>
        <constructor-arg name="realm" ref="ScratchRealm"/>
    </bean>
    <bean class="org.rpl.infinimapper.agents.MapPathBuilder">
        <constructor-arg name="chunkCache" ref="ChunkCache"/>
        <constructor-arg name="tileToUse" value="77"/>
        <constructor-arg name="realm" ref="ScratchRealm"/>
    </bean>
           -->
</beans>